.jumbotron {
	margin-top: -60px;
}
.jumbotron .container {
		margin-bottom:-20px;
}
.navbar-brand, a.navbar-brand, a.navbar-brand:active, a.navbar-brand:link, a.navbar-brand:visited, a.navbar-brand:hover {
	font-size: 125%;
}
.bg-primary {
	background-color:#6ec8c7;
}
.bg-primary h1 {
	color:#fff;
}
.bg-primary p {
	color:#fff;
}
.bg-success {
	background-color:#93c054;
}
.bg-success h1 {
	color:#fff;
}
.bg-success p {
	color:#fff;
}
.bg-warning {
	background-color:#f67d42;
}
.bg-warning h1 {
	color:#fff;
}
.bg-warning p {
	color:#fff;
}